@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Karla", sans-serif;
  --color-title: #293264;
  --bg-main-btn: #4D5B9E;
  --color-main-btn: #f5f7fb;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}